:root {
  --displayProp: none;
}

.navContainer {
  display: flex;
  visibility:hidden;
  justify-content: space-evenly;
  background-color: lightgray;
  border: 1px solid gray;
}

.navContainer:hover {
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
}

ul {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
}

/* Keyframes Animation */
// @keyframes mymove {
//   from {top: 0px;}
//   to {top: -50px;}
// }

 a {
  margin: 1rem;
   text-decoration: none;
}

a:hover {
  color: red;
  transition: 300ms ease-in-out;
}

.multiModal {
  border: 1px solid blue;
  width: 200px;
  padding: 1rem;
  color: white;
}

.multiModal > button {
  margin-top: 1rem;
  cursor: pointer;
}

.multiModal > button:hover {
  padding: 0.4rem;
  background-color: black;
  color: white;
  transition: 500ms;
  border: 1px solid white;
}

input[type="text"]:focus, input[type="password"]:focus {
 background-color: green;
  color: white;
  font-weight: bold;
}

#greenModal {
  background-color: green;
  display: var(--displayProp);
}
